.about {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("../../components/images/curtain.jpg");
  background-size: cover;
  background: cover;
  color: #ffffff;
  /* height: 100vh; */
}

.about span {
  color: #ffffff;
}

.about span:hover {
  text-decoration: underline;
}

.self {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;
}

.self p {
  text-align: center;
  padding: 20px 100px;
  line-height: 8vh;
  margin-bottom: 150px;
}
