.detail {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("../../components/images/curtain.jpg");
  background-size: cover;
  background: cover;
}

.detail-info {
  color: #ffffff;
  /* padding: 50px; */
  margin: 50px;
}

.detail-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 100px;
}

.title-rate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title-rate .rating {
  margin-left: 20px;
  padding: 10px;
  font-weight: bold;
}

.detail-info p {
  text-align: justify;
}
