.galery {
  padding: 2rem;
}

.row {
  display: flex;
  justify-content: center;
}

/* GENRE */
.category {
  border-radius: 50px;
  padding-inline-start: 0;
  margin-bottom: 3rem;
  max-width: 90%;
}

.categoryBtn::before {
  content: "";
}

.categoryBtn::after {
  text-decoration: underline;
}

.category button {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem 0;
  border-radius: 20px;
  border: none;
  background-color: #5c3d1b81;
  outline: none;
  text-transform: uppercase;
}

.category button:hover {
  cursor: pointer;
  font-weight: 700;
}

.active {
  text-decoration: underline;
}

/* IMAGE LIST */
.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 2rem;
  padding-inline-start: 0;
  align-items: center;
}

.image {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  cursor: pointer;
  /* border: 1px solid black; */
}

.modal {
  list-style: none;
}

.modal img {
  max-width: 40rem;
}

@media all and (max-width: 1450px) {
  .category button {
    font-size: 1.4rem;
  }
  .list {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
  .modal img {
    max-width: 35rem;
  }
}

@media all and (max-width: 1120px) {
  .category button {
    font-size: 1.2rem;
  }
  .list {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }
  .modal img {
    max-width: 30rem;
  }
}

@media all and (max-width: 700px) {
  .modal img {
    max-width: 25rem;
  }
}

@media all and (max-width: 550px) {
  .category button {
    font-size: 0.8rem;
  }
  .list {
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
    grid-gap: 1rem;
  }
  .image {
    border-radius: 1rem;
  }
  .modal img {
    max-width: 20rem;
  }
}

@media all and (max-width: 480px) {
  .modal img {
    max-width: 18rem;
  }
}

@media all and (max-width: 365px) {
  .category button {
    font-size: 0.6rem;
  }
  .list {
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    grid-gap: 1rem;
  }
  .image {
    border-radius: 1rem;
  }
  .modal img {
    max-width: 15rem;
  }
}

@media all and (max-width: 320px) {
  .modal img {
    max-width: 10rem;
  }
}
