nav {
  padding: 2rem 4rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 5px solid #5c3d1b;
  padding-inline-start: 0;
  padding: 0 1rem;
  position: relative;
}

.link {
  display: flex;
  align-items: center;
}

.link img {
  height: auto;
  width: 20rem;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  color: #5c3d1b;
}

.option {
  display: flex;
  justify-content: space-between;
}

.contact {
  font-size: 1.7rem;
  padding: 1rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  color: #5c3d1b;
  cursor: pointer;
}

.contact:hover,
.galery:hover {
  font-weight: 700;
}

.galery {
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.6rem;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 1020px) {
  .option {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .contact,
  .galery {
    letter-spacing: 0.2rem;
    padding: 0.5rem;
  }
}

.exit {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.exit:hover {
  background-color: rgba(202, 195, 195, 0.5);
}

.close {
  width: 1rem;
}

/* 
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 2rem;
  height: 0.3rem;
  background-color: #5c3d1b;
  margin: 0.5rem;
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .option {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    right: 0rem;
    top: 5rem;
    background-color: #5c3d1b28;
    z-index: 1;
    width: 40%;
    transform: translateX(150%);
    transition: transform -0.5 ease-in;
  }
  a,
  .contact {
    color: #5c3d1b;
  }
  .burger {
    display: block;
  }
  .navActive {
    display: block;
    transform: translateX(0%);
  }
} */
