.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(211, 211, 211, 0.24);
  padding: 20px;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  margin: 10px 10px;
}
