.popular {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("../../components/images/curtain.jpg");
  background-size: cover;
  background: cover;
}

.body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  padding: 80px;
}

.playing {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.card {
  transition: transform 0.5s;
  margin: 20px;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgba(211, 211, 211, 0.247);
}

.card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 5px 10px;
}

.rating {
  background: rgb(226, 226, 226);
  border-radius: 50%;
  color: black;
  padding: 5px;
}

.card:hover {
  transform: translateY(-10px);
}

img {
  /* border-radius: 10px; */
  width: 100%;
}
